.logo{
  position: absolute;
  top: 25px;
  width: 50px;
}

nav{
  margin-left: 60%;
  padding: 20px;
}

nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}

nav li{
  width: 25%;
  display: inline-block;
  font-size: 40px;
}

nav li a{
  text-decoration: none;
}

h1, h3{
  text-align: center;
  background-color: rebeccapurple;
}

.about-img{
  display: block;
}

.about-img img{
  margin-left: 25%;
  position: relative;
  justify-content: center;
}

p{
  padding: 0 50px;
}

table, th, tr, td{
  text-align: center;
  font-size: 40px;
  border: solid 1px black;
}

th, tr, td{
  padding: 10px 30px;
}

table{
  position: relative;
  margin-left: 40%;
}

form{
  position: relative;
  margin-left: 40%;
}

#button{
  border-radius: 5px;
  background-color: blueviolet;
  text-align: center;
  font-size: 25px;
  margin-left: 80px;
  padding: 5px 25px;
}

footer{
  background-color: blueviolet;
  position: relative;
  padding: 0 0 200px 200px;
}

footer li{
  text-decoration: none;
  list-style: none;
  display: inline;
  padding-right: 100px;
}

.true{
  background-color: green;
}

.false{
  background-color: red;
}